1) Crear una lista en Python denominada “Dueno”

In [ ]:
dueno = [28957346,  'Juan',  'Perez', 4789689, 'Belgrano 101']

2) Crear una lista en Python denominada “Dueno2”

In [ ]:
dueno2 = [23546987,  'Maria',  'Perez', 4789689, 'Pueyrredon  811']

for i in range(0,5):
    if (i == 0 or i == 2):
        continue
    else:
        print (dueno2[i])

3)  Crear un lista en Python denominado “Perro”

In [ ]:
perro = [13, 'Puppy',  '12/12/2012' , 'Macho', 123]
perro[2] = '13/12/2012'
print(perro)

4)      Crear un lista en Python denominado “Perro2”,

In [ ]:
perro2 = [14,  'Fido',  '12/12/2012 ', 'Macho', 23546987]

for dato in reversed(perro2):
    print(dato)

5) Crear una tupla en Python con el nombre de “Historial”

In [ ]:
historial = (2350, 5960, 23000, 1000, 8900)
print(type(historial))
total_historial = sum(historial)
print(f'El total es: {total_historial}')

6) Crear una tupla en Python con el nombre de “Historial2”

In [ ]:
def mayor_a_5000 (tupla):
    contador = 0
    for dato in tupla:
        if (dato > 5000):
            contador +=1
    return contador

historial2 = (23500, 5960, 2300, 10200, 8900)
total_historial2 = sum(historial2)
print(f'El total es: {total_historial2}')
print(f'la cantidad de servicios mayores a 5000 es: {mayor_a_5000(historial2)}')

7)  Crear una tupla en Python con el nombre de “Historial3”

In [ ]:
def control_gasto(promedio):
    if promedio > 4500:
        print('Se ha excedido ')
    else:
        print('su gasto se encuentra dentro de los limites')
historial3 = ( 9530, 4120, 4580, 1500, 890,7516,426)
promedio = round(sum(historial3)/len(historial3), 2)
print(f'El gasto promedio es: {promedio}')
control_gasto(promedio)

8) Crear una tupla en Python con el nombre de “Historial4”

In [ ]:
def minimo(tupla):
    minimo = tupla[0]
    for dato in tupla:
        if dato < minimo:
            minimo = dato
    return minimo
        
historial4 = (7510, 7960, 76180, 800, 4100)
gasto_menor = minimo(historial4)
print(f'El gasto minimo es: {gasto_menor}')

9) Crear una tupla en Python con el nombre de “Historial5”

In [ ]:
def maximo(tupla):
    maximo = tupla[0]
    for dato in tupla:
        if dato > maximo:
            maximo = dato
    return maximo

historial5 = (8520, 9510, 7530, 3570, 1590)
gasto_mayor = maximo(historial5)
print(f'El gasto mayor es: {gasto_mayor}')

10) Crear una lista denominada “Clientes”

In [ ]:
clientes = ('Juan', 'Mario', 'Ariel', 'Josefina', 'Marianella')
clientes = sorted(clientes)
print(clientes)